In [65]:
import pandas as pd
import re

df = pd.read_csv("test.csv")

mo_no = df.iloc[:,-1]
def func(str):
    """ 
        Description: 
            This function is printing different wrong format mobile number in correct format
        Parameter:
            It takes one string as argument
        Return:
            returns correct mobile number string 
    """
    if(re.match("^\d{10}$",str)):
        str = "+91"+str
        return str
    if(re.match("^91[\s]?\d{10}$",str)):        
        str = str.replace(str[:-10],"+91")
        return str
    if(re.match("^0[\s]?\d{10}$",str)):
        str = "+91" + str[-10:]
        return str
    if(re.match("^[+]91[\s]\d{10}$" ,str)):
        str = str.replace(str[3],"")
        return str
    if(re.match("^\d{11,}$",str)):
        str = "+91" + str[0:10]
        return str
    return str

def full_name(x , y):
    """ 
        Description: 
            This function is giving full name based on first name and last name
        Parameter:
            It takes two string as argument
        Return:
            returns full name string
    """
    return x + " " + y

df['full_name'] = df.apply(lambda x : full_name(x['fname'],x['lname']),axis = 1)

df['mnumber'] = df['mnumber'].apply(func)

df

    fname   lname        mnumber      full_name
0    asda    asda  +919494949494      asda asda
1    asda    asda  +919494949494      asda asda
2    asda  asdasd  +919494949494    asda asdasd
3  asdasd  asdasd  +919494949494  asdasd asdasd
4    asda   asdad  +919494949494     asda asdad
5   asdad    adad  +919494949494     asdad adad
6   asdad    asda  +919494949494     asdad asda
7   asdas     asd  +919494949494      asdas asd